{% extends 'base.html' %}

{% block body %}
    <div class="container columns is-flex is-fullheight is-vcentered" style="height:90vh;">
        {% for error in form.non_field_errors %}
            <div class="notification is-link"
                 style="position: absolute; top: 10%; left:25%; width: 50%; z-index: 5;">
                <button class="delete"></button>
                {{ error }}
            </div>
        {% endfor %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="notification is-link"
                     style="position: absolute; top: 10%; left:25%; width: 50%; z-index: 5;">
                    <button class="delete"></button>
                    {{ error }}
                </div>
            {% endfor %}
        {% endfor %}


        {#        {% with messages = get_flashed_messages() %}#}
        {#            {% if messages %}#}
        {#                {% for message in messages %}#}
        {#                    <div class="notification is-link"#}
        {#                         style="position: absolute; top: 10%; left:25%; width: 50%; z-index: 5;">#}
        {#                        <button class="delete"></button>#}
        {#                        {{ message }}#}
        {#                    </div>#}
        {#                {% endfor %}#}
        {#            {% endif %}#}
        {#        {% endwith %}#}
        <div class="container my-5 is-max-widescreen p-5">
            <div class="columns is-vcentered box">
                <div class="column is-half  is-flex is-vcentered">
                    <div class="container has-text-centered is-size-2-mobile is-size-1 is-family-sans-serif  ">
                        <h1 class="has-text-weight-bold"> Welcome  </h1>
                        <h1 class="has-text-weight-bold has-text-link"> back </h1>
                    </div>

                </div>
                <div class="column  is-half">
                    <form method="post" class="register-form" id="register-form" action="">
                        {% csrf_token %}
                        <h1 class="has-text-weight-bold has-text-centered is-size-2 is-family-sans-serif">
                            Log in </h1>
                        <div class="field">
                            {#                            {{ form.username.errors }}#}
                            <label class="label">{{ form.username.label }}</label>
                            <div class="control has-icons-left has-icons-right">
                                {{ form.username }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <p class="help ">{{ form.username.help_text|safe }}</p>
                        </div>

                        <div class="field">
                            <label class="label">{{ form.password.label }}</label>
                            <p class="control has-icons-left">
                                {#                                <input class="input" name="password" type="password" placeholder="Password">#}
                                {{ form.password }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                            <p class="help">{{ form.password.help_text|safe }}</p>
                        </div>
                        <div class="field">
                            <div class="control is-grouped p-1">
                                <button class="button is-link my-1" type="submit">Log In</button>
                                <a class="button is-link is-outlined my-1" href="/users/register">I don't have an
                                    account!</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="https://kit.fontawesome.com/3daef64643.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

